.minesweeper {
    display: inline-block;
    background-color: #333;
    border-radius: 0.2em;
    padding: 0.15em;

    transition: font-size 100ms ease;

    /*size for all elements*/
    font-size: 30px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*head*/

.minesweeper .head {
    position: relative; /*for picture-face and modal window*/

    overflow: auto;
    padding: 0.05em 0.15em;
    color: whitesmoke;
    text-align: center;

    font-family: sans-serif; /*to minimize space between pictures*/
}

.minesweeper .left {
    float: left;
}

.minesweeper .right {
    float: right;
}

.minesweeper .mine-counter,
.minesweeper .timer {
    font-family: monospace;
    font-weight: bold;
    font-size: 0.9em;
    vertical-align: middle;
}

/*head icons*/

.minesweeper .picture {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
}

.minesweeper .picture-mine {
    background: url(icons/fuse.svg);
}

/*face*/

.minesweeper .picture-face {
    position: absolute;
    left: 50%;
    margin-left: -0.5em;
    top: 50%;
    margin-top: -0.5em;

    cursor: pointer;
    width: 1em;
    height: 1em;
    background-size: 100% 100%;
}

.minesweeper .face-smile {
    background-image: url(icons/face-smile.svg);
}

.minesweeper .face-gameover {
    background-image: url(icons/face-gameover.svg);
}

.minesweeper .face-win {
    background-image: url(icons/face-win.svg);
}

.minesweeper .face-reset {
    background-image: url(icons/face-reset.svg);
}

/*field*/

.minesweeper .field {
    padding: 0.05em;
}

.minesweeper .line {
    white-space: nowrap;

}

.minesweeper .cell {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    width: 1.1em;
    height: 1.1em;
    border-radius: 15%;
    border: 1px solid black;
    cursor: default;

    font-family: monospace;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;

    transition: background-color 300ms, box-shadow 300ms;
}

.minesweeper .cell.unknown {
    background-color: lightskyblue;
    box-shadow: inset 0 0 0.15em 0.1em steelblue;
    cursor: pointer;
}

.minesweeper.inactive .cell.unknown {
    cursor: default;
}

.minesweeper .cell.open {
    background-color: white;
    box-shadow: inset 0 0 0.15em 0.1em lightgray;
}

.minesweeper .cell.flag {
    background: #fdff94 url(icons/flag.svg) no-repeat center;
    background-size: 80%;
    box-shadow: inset 0 0 0.15em 0.1em #dadc4c;
    cursor: pointer;
}

.minesweeper.inactive .cell.flag {
    cursor: default;
}

.minesweeper .cell.mine {
    background: white url(icons/bomb.svg) no-repeat center;
    background-size: 80%;
    box-shadow: inset 0 0 0.15em 0.1em lightgray;
}

.minesweeper .cell.flag-wrong {
    background: url(icons/cross.svg), url(icons/bomb.svg) no-repeat center, #fdff94;
    background-size: 100%, 80%;
    box-shadow: inset 0 0 0.15em 0.1em #dadc4c;
}

.minesweeper .cell.blast {
    background: white url(icons/explosion.svg) no-repeat center;
    background-size: 80%;
    box-shadow: inset 0 0 0.15em 0.1em lightgray;
}

.minesweeper .cell.wrong {
    background-color: indianred;
    box-shadow: inset 0 0 0.15em 0.1em red;
}

/*Reset question modal*/
.minesweeper .reset_tooltip {
    position: absolute;
    z-index: 10;
    opacity: 0.9;

    top: 5px;
    left: 50%;
    font-size: 0.45em;
    width: 10em;
    margin-left: -5em;
    box-sizing: border-box;

    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    padding: 5px;
    color: black;
    cursor: default;
    text-align: center;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Треугольники*/
.minesweeper .reset_tooltip:before {
    content: "";
    position: absolute;

    top: -0.5em;
    left: 50%;
    margin-left: -0.5em;

    width: 0;
    height: 0;

    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid gray;
}

.minesweeper .reset_tooltip:after {
    content: "";
    position: absolute;

    top: -0.45em;
    left: 50%;
    margin-left: -0.45em;

    width: 0;
    height: 0;

    border-left: 0.45em solid transparent;
    border-right: 0.45em solid transparent;
    border-bottom: 0.45em solid white;
}

/*Анимация появления*/
@keyframes zoom {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.minesweeper .reset_tooltip {
    animation-name: zoom;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}