html {
    min-height: 100%;
    height: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .4;
    filter: blur(3px);
    inset: 0;
    pointer-events: none;
    background-image: url(icons/back.jpg);
    background-size: cover;
    background-position: 50%;
}

.content {
    font-size: 100%;
    padding: 10px;
    font-family: monospace;
}

.header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.header:before,
.header:after {
    content: '';
    width: 48px;
    height: 48px;
    background-size: contain;
    display: inline-block;
}

.header:before {
    background-image: url('./icons/cat.png');
    margin-right: 20px;
}

.header:after {
    background-image: url('./icons/rabbit.png');
    margin-left: 20px;
    transform: scaleX(-1);
}

.game-field {
    display: flex;
    margin-top: 40px;
}

.game-side {
    font-size: 1.5em;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 20px;
}

.game-side div+div {
    margin-top: 20px;
}

.game-wrapper {
    flex-shrink: 0;
}

.settings {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.settings_block {
    display: inline-block;
    text-align: left;
}

.settings_block:first-child {
    margin-right: 25px;
}

.settings_block:last-child {
    margin-left: 25px;
}

.label {
    display: block;
    margin-bottom: 10px;

    font-size: 1.5rem;
}

.select {
    font-size: 1.2rem;
}

.info {
    font-size: 0.9rem;
    color: gray;
}

.game-info {
    width: 50%;
    font-size: 1.5em;
    margin: 20px auto 0;
}

.game-wrapper {
    text-align: center;
}