body::before {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .4;
    filter: blur(3px);
    inset: 0;
    pointer-events: none;
    background-image: url(icons/carrot.png);
    background-size: 256px;
}

.content {
    font-size: 100%;
    font-family: monospace;
}

.header {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.header2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.header2:before,
.header2:after {
    content: '';
    width: 48px;
    height: 48px;
    background-size: contain;
    display: inline-block;
}

.header2:before {
    background-image: url('./icons/cat.png');
    margin-right: 20px;
}

.header2:after {
    background-image: url('./icons/rabbit.png');
    margin-left: 20px;
    transform: scaleX(-1);
}

.game-field {
    display: flex;
    margin-top: 40px;
}

.game-side {
    font-size: 1.5em;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 20px;
}

.game-side div+div {
    margin-top: 20px;
}

.game-wrapper {
    flex-shrink: 0;
}

.settings_block {
    display: inline-block;
    text-align: left;
}

.settings_block:first-child {
    margin-right: 25px;
}

.settings_block:last-child {
    margin-left: 25px;
}

.label {
    display: block;
    margin-bottom: 10px;

    font-size: 1.5rem;
}

.select {
    font-size: 0.8rem;
}

.info {
    font-size: 0.9rem;
    color: gray;
}

.game-wrapper {
    text-align: center;
}

.status {
    vertical-align: middle;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 0;
}

.status-win {
    font-weight: bold;
    font-size: 2.5em;
    color: green;
}

.status-gameover {
    color: darkred;
}